body {
  padding: 30px;
}

label {
  margin-right: 20px;
}
.spoqa-button {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #4c80f1;
  color: white;
  cursor: pointer;
  font-family: "Inter", sans-serif !important;
  margin-bottom: 20px;
  margin-right: 20px;
}
.spoqa-button:hover {
  border-color: #2c5ae9;
  background-color: #2c5ae9;
}
.sm-spoqa {
  font-size: 0.825rem;
  padding: 8px 12px;
}
.md-spoqa {
  font-size: 1rem;
  padding: 10px 14px;
}
.md-spoqa[disabled] {
  color: #f8fafb;
  border-color: #c9d9fb;
  background-color: #c9d9fb;
  cursor: not-allowed;
  pointer-events: none;
}
.lg-spoqa {
  font-size: 1.25rem;
  padding: 14px 18px;
}
